.back {
    background-image: url(nikeimg.jpg);
    background-size: 900px 950px;
    background-repeat: no-repeat;
    padding: 330px 135px;
}
.box1 {
    box-sizing: border-box;
    width: 620px;
    height: 220px;
    border: none;
    background-color: white;
    text-align: center;
    padding: 10px;
}
.box2 {
    box-sizing: border-box;
    width: 620px;
    height: 60px;
    border: 1px solid rgb(226, 225, 225);
    background-color: rgb(247, 244, 244);
    text-align: center;
}
.nike {
    margin: 20px;
}
.wait {
    font-size: 1.1em;
    font-weight: bolder;
    margin: 10px;
}
.loading {
    margin: 10px;
}
.automove {
    color: gray;
    font-weight: bolder;
    font-size: 0.7em;
    letter-spacing: -1px;
}
.call {
    color: gray;
    font-size: 0.6em;
    letter-spacing: -1px;
    margin: 10px;
}